*{
	margin:0;
	padding: 0;
	box-sizing: border-box;

}

body{
	font-family:open sans;
}

.contenedor{
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

.titulo{
	color:#642a73;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}

/*header*/
header{
	width: 100%;
	height: 600px;
	background: #ee9ca7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, hsla(340,95%,50%, 0.459),#ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, hsla(340,95%,50%, 0.459), #ffdde1, #ee9ca7), url(../img/img1.jpg);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

nav{
	text-align: right;
	padding: 30px 50px 0 0;
}

nav > a{
	color:#fff;
	font-weight: 300;
	text-decoration: none;
	margin-right: 10px;
}

nav > a:hover{
	text-decoration: underline;
}

header .textos-header{
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.textos-header h1{
	font-size: 50px;
	color: #fff;
}

.textos-header h2{
	font-size: 30px;
	font-weight: 300;
	color: #fff;
}

.wave{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.contenedor-sobre-nosotros{
	display: flex;
	justify-content: space-evenly;
}

.imagen-about-us{
	width: 48%;
}

.sobre-nosotros .contenido-textos{
	width: 48%;
}

.contenido-textos h3{
	margin-bottom: 15px;
}

.contenido-textos h3 span{
	background: #ee9ca7;
	color: #fff;
	border-radius: 50%;
	display: inline-block;
	text-align:center;
	width: 30px;
	height: 30px;
	padding: 2px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 5);
	margin-right: 5px;
}

.contenido-texto p{
	padding: 0px 0px 30px 15px;
	font-weight: 300;
	text-align: justify-all;
}

.portafolio{
	background: #f2f2f2;
}


.galeria-port{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.imagen-port{
	width: 50%;
	height: 650px;
	margin-bottom: 10px;
	overflow: hidden;
	position: center;
	cursor: pointer;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	align-items: center;
}



.cards{
	display: flex;
	justify-content: space-evenly;
}

.cards .card{
	background:#ee9ca7;
	display: flex;
	width: 100%;
	height: 100px;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 2px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.6);
}

.cards .card img{
	width: 60px;
	height:50px;
	object-fit: cover;
	border: 3px solid #fff;
	border-radius: 50%;
	display: block;
}

.cards .card > .contenido-texto-card{
	width: %;
	color: #fff;
}

.cards .card > .contenido-texto-card p{
	font-weight: 250;
	padding-top: 5px;
}

.about-services{
	background: #f2f2f2;
	padding-bottom: 10px;
}

.servicio-cont{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.servicio-ind{
	width: 30%;
	text-align: center;
}

.servicio-ind img{
	width: 80%;
	height: 80px;
}

.servicio-ind h3{
	margin: 10px 0;
}

.servicio-ind p{
	font-weight: 250;
	text-align: justify;
}

.form{ 
	width: 400px;
	background: #d76d77;
	padding: 30px;
	margin: auto;
	margin-top: 0px;
	border-radius: 4px;
	color: #fff;
}

.form h4{
	font-size: 22px;
	margin-bottom: 20px;
}

.bottom{
	width: 100%;
	background:#ffafbd;
	border:none;
	padding: 12px;
	color: #fff;
	margin:16px 0;
	font-size: 16px;

}
.controls{
	width: 100%;
	background:#c2c2c2;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border:1px solid #dbdbdb;
	font-size:18px;
}

.form p{
	height: 48px;
	text-align: center;
	font-size: 18px;
}


footer{
	background:#bdc3c7;
	padding: 60px 0 30px 0;
	margin: auto;
	overflow: hidden;
}

.contenedor-footer{
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	margin:auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #9e9797;
}

.content-foo{
	text-align:center;
}

.content-foo h4{
	color: #f4566a;
	border-bottom: 3px solid #ee9ca7;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.content-foo p{
	color: #ffff;
}

.titulo-final{
	text-align: center;
	font-size: 24px;
	margin: 20px 0 0;
	color: #fff;
}